flows_Georgs-iMac.local.json
[{"id":"5f9c3e41.4e15e","type":"tab","label":"TESTFLOW"},{"id":"98e5a6bf.0a4988","type":"ui_group","z":"","name":"MyTests","tab":"","disp":true,"width":"6"},{"id":"d032c2d1.b011f","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"23ac621c.85623e","type":"ui_group","z":"","name":"CENTER","tab":"5dabf4f7.94897c","disp":true,"width":"6"},{"id":"5dabf4f7.94897c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"d3de5642.d11bb8","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"ff245c85.24afa","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"fef2b056.55173","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"58d7b947.cdae98","type":"ui_group","name":"Group 4","tab":"","order":4,"disp":true,"width":6},{"id":"54ce11cc.f5ae6","type":"ui_switch","z":"5f9c3e41.4e15e","name":"BOILER","label":"BOILER","group":"23ac621c.85623e","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":779,"y":264,"wires":[["c846bef3.8faf7"]]},{"id":"1b6a5bb5.387574","type":"udp out","z":"5f9c3e41.4e15e","name":"FORWARD_BOILER","addr":"127.0.0.1","iface":"","port":"10000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1423,"y":257,"wires":[]},{"id":"60b8219f.24311","type":"udp in","z":"5f9c3e41.4e15e","name":"RECEIVE ECHO","iface":"","port":"12000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":162.5,"y":262,"wires":[["4c4c0a9.858d2f4"]]},{"id":"4c4c0a9.858d2f4","type":"function","z":"5f9c3e41.4e15e","name":"CHECK SWITCH STATUS BOILER","func":"var result;\nvar ToCompare = \"BOILER-IS-ON\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":491.5,"y":254,"wires":[["54ce11cc.f5ae6"]]},{"id":"c846bef3.8faf7","type":"function","z":"5f9c3e41.4e15e","name":"CONVERT SWITCH STATUS BOILER","func":"var result;\nvar ResultOn  = \"TURN-BOILER-ON\";\nvar ResultOff = \"TURN-BOILER-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":1045,"y":275,"wires":[["1b6a5bb5.387574"]]},{"id":"3d29c1c.2722d3e","type":"ui_switch","z":"5f9c3e41.4e15e","name":"TEST BOILER","label":"TEST_ECHO","group":"23ac621c.85623e","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"TURN-BOILER-ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"TURN-BOILER-OFF","offvalueType":"str","officon":"","offcolor":"","x":1188,"y":36,"wires":[["1b6a5bb5.387574"]]},{"id":"9f331be0.f38388","type":"catch","z":"5f9c3e41.4e15e","name":"","scope":null,"x":131.5,"y":687,"wires":[["b7cf484d.030508"]]},{"id":"b7cf484d.030508","type":"ui_text","z":"5f9c3e41.4e15e","group":"98e5a6bf.0a4988","order":0,"width":0,"height":0,"name":"Errors","label":"Message","format":"{{msg.payload}}","layout":"row-spread","x":314.5,"y":688,"wires":[]}]